.header {
  width: 100%;
  height: 38px;
  background-color: variable.$base-color;
  color: white;
  ul {
    margin: 0;
    font-size: 12px;
    list-style: none;
    li {
      float: left;
      margin-right: 10px;
      a {
        display: block;
        padding: 8px;
        color: white;
        &:hover {
          background-color: lighten(variable.$base-color, 10%);
        }
      }
    }
  }
}

.heading {
  background-color: white;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  h1,
  p {
    margin: 0;
  }
  p {
    margin-top: 15px;
  }
}
