.profile-section {
    position: relative;
    img {
        display: block;
        width: 100%;
    }
    &__content {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: variable.$base-margin;
        background-color: rgba(0,0,0,0.4);
        color: white;
        font-size: 13px;
        h3 {
            margin-top: 0;
            margin-bottom: 10px;
            font-size: 17px;
        }
        p {
            margin-bottom: 0;
        }
    }
}