@use "scss/variable";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: variable.$base-font-size;
  font-family: Arial, Helvetica, sans-serif;
  line-height: variable.$base-line-height;
  background-color: variable.$base-background-color;
}

@import "scss/general";
@import "scss/header";
@import "scss/banner"
